@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #efefef;
}
body {
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
}
header {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 25px 40px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 20px 20px;
}

header h1 {
  float: left;
  font: normal 24px/1.5 "Open Sans", sans-serif;
  color: #fff;
}

header a {
  color: #fff;
  border-radius: 10px 10px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 99px;
  font: bold 14px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
  background-color: #fff;
}

ul {
  list-style: none;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  padding: 20px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 75px;
}

ul a {
  text-decoration: none;
  color: #fff;
  text-align: left;
  background-color: #bcb8c2;
  padding: 10px 16px;
  border-radius: 2px;
  opacity: 0.8;
  font-size: 16px;
  display: inline-block;
  margin: 4px;
  line-height: 1;
  outline: none;

  transition: 0.2s ease;
}

ul li a.active {
  background-color: #f05283;
  pointer-events: none;
}

ul li a:hover {
  opacity: 1;
}

ul li {
  display: inline-block;
}
@media (max-width: 1000px) {
  header h1 {
    float: none;
  }

  header a {
    margin-top: 25px;
    float: none;
  }
}
.main-content {
  margin-bottom: 75px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}

/* -- Link to Tutorialzine -- */

.tz-link {
  text-decoration: none;
  color: #fff !important;
  font: bold 36px Arial, Helvetica, sans-serif !important;
}

.tz-link span {
  color: #da431c;
}
.minus {
  height: 20px 20px !important;
  padding: 12px 9px 12px 8px;
  box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 8%);
  width: 50px !important;
  color: #fff !important;
  background-color: #87ceeb !important;
  border-color: #87ceeb !important;
  border-radius: 5px;
}
.plus {
  height: 20px 20px !important;
  padding: 12px 9px 12px 8px;
  box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 8%);
  border: 1px solid #ddd !important;
  margin-left: 0px !important;
  width: 50px !important;
  color: #fff !important;
  background-color: #87ceeb !important;
  border-color: #87ceeb !important;
  border-radius: 5px;
}
.numb {
  height: 20px 20px !important;
  padding: 12px 8px 12px 7px !important;
  box-shadow: 0px 2px 4px 0 rgb(0 0 0 / 8%) !important;

  border: 1px solid #ddd !important;
  width: 100px !important;
  text-align: center;
}
